@model Prodest.EOuv.Dominio.Modelo.ManifestacaoModel

@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <title></title>
</head>
<body>
    <div class='text-center'>         <h1 class='display-4'>EOuv</h1>         <p>Sistema de Ouvidoria do Espírito Santo</p>     </div>
</body>
</html>

