@{
    ViewData["Title"] = "Acompanhar Despachos";
}

@section scripts{
    <script defer src="~/scripts/app/shared/eOuvApi.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/AcompanhamentoDespacho/ListaDespachos.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/AcompanhamentoDespacho/RastreioEncaminhamento.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/AcompanhamentoDespacho/AcompanhamentoDespacho.js" asp-append-version="true"></script>

}

<div class="container-fluid p-0">
    <div class="row">
        <div id="app" class="col-12">
            <section class="mb-4">
                <lista-despachos></lista-despachos>
            </section>
        </div>
    </div>
</div>

@section templates{
    <script type="text/html" id="template-lista-despachos">
        <div class="card">
            <div class="card-header">
                Manifestação: {{idManifestacao}}
                <a class="btn btn-primary btn-sm float-end" v-bind:href="urlNovoDespacho"><i class="fas fa-plus"></i> Novo Despacho</a>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">
                                Protocolo
                            </th>
                            <th scope="col">
                                Data do Despacho
                            </th>
                            <th scope="col">
                                Prazo de Resposta
                            </th>
                            <th scope="col">
                                Destinatário
                            </th>
                            <th scope="col">
                                Data de Finalização
                            </th>
                            <th scope="col">
                                Situação
                            </th>
                            <th scope="col" class="text-center">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="despacho in listaDespachos" :key="despacho.protocoloEdocs">
                            <td>{{despacho.protocoloEdocs}}</td>
                            <td>{{despacho.dataSolicitacaoDespachoFormat}}</td>
                            <td>{{despacho.prazoRespostaFormat}}</td>
                            <td>{{despacho.destinatarioFormat}}</td>
                            <td>{{despacho.dataRespostaDespachoFormat}}</td>
                            <td>{{despacho.situacaoDespacho.descSituacaoDespacho}}</td>
                            <td class="text-center">
                                <a class="btn btn-dark btn-sm" v-on:click="Detalhar()"><i class="fas fa-stream"></i> Detalhar</a>
                                <a class="btn btn-warning btn-sm" v-if="despacho.dataRespostaDespachoFormat == ''" v-on:click="EncerrarDespachoManualmente(despacho.idDespachoManifestacao)"><i class="fas fa-undo"></i> Encerrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-success float-end" v-if="liberarResposta" v-bind:href="urlResponderManifestacao"><i class="fas fa-edit"></i> Responder Manifestação</a>
                <a class="btn btn-success float-end disabled" v-if="!liberarResposta"><i class="fas fa-edit"></i> Responder Manifestação</a>
            </div>
        </div>
    </script>

    <script type="text/html" id="template-rastreio-encaminhamento">
        <section class="mb-4" v-if="rastreioEncaminhamento != null">
            <div class="card">
                <div class="card-header">
                    Rastreio de Encaminhamento E-DOCS:
                </div>
                <div class="card-body">
                    <h6>{{rastreioEncaminhamento.assunto}}</h6>
                    <h6>{{rastreioEncaminhamento.responsavel.nome}}</h6>
                    <h6>{{rastreioEncaminhamento.dataHora}}</h6>
                    <div>
                        <label>Destinos:</label>
                    </div>

                    <rastreio :encaminhamentos="rastreioEncaminhamento.encaminhamentosPosteriores"></rastreio>
                </div>
            </div>
        </section>
    </script>

    <script type="text/html" id="template-rastreio">
        <div>

            <h6>{{encaminhamentos.assunto}}</h6>
            <h6>{{encaminhamentos.responsavel.nome}}</h6>
            <h6>{{encaminhamentos.dataHora}}</h6>
            <div>
                <label>Destinos:</label>
            </div>
            <rastreio v-for="encaminhamento in encaminhamentos.encaminhamentosPosteriores" :encaminhamentos="encaminhamento.encaminhamentosPosteriores"></rastreio>
        </div>
    </script>
}