@{
    ViewData["Title"] = "Novo Despacho";

}

@section scripts{
    <script defer src="~/scripts/app/shared/eOuvApi.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/despacho/Manifestacao.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/despacho/SelecaoDestinatarios.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/despacho/SelecaoPapel.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/despacho/FormularioDespacho.js" asp-append-version="true"></script>
    <script defer src="~/scripts/app/pages/despacho/NovoDespacho.js" asp-append-version="true"></script>
}

<div class="container-fluid p-0">
    <div class="row">
        <div id="app" class="col-12">
            <despacho-form></despacho-form>
        </div>
    </div>
</div>

@section templates{

    <script type="text/html" id="template-despacho-manifestacao">
        <section class="mb-4">
            <input type="hidden" v-model="dadosBasicos.idManifestacao">
            <div class="card">
                <div class="card-header py-3">
                    <h5 class="mb-0">{{titulo}}</h5>
                </div>
                <div class="card-body" v-ext-loading="loading">
                    <div v-if="loading" class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <template v-else>
                        <div class="accordion accordion-flush" id="accordionPanelsManifestacao">
                            <!--Dados Básicos da Manifestação-->
                            <div class="accordion-item">
                                <div class="d-flex">
                                    <div class="align-self-center accordion-header-manifestacao">
                                        <i class="py-3 px-3 check-document far fa-square incluir" id="DadosBasicos" v-on:click="IncluirDocumento($event)"></i>
                                    </div>
                                    <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                         data-bs-toggle="collapse"
                                         data-bs-target="#panel-DadosBasicos"
                                         aria-expanded="false"
                                         aria-controls="panel-DadosBasicos">
                                        Dados Básicos da Manifestação
                                    </div>
                                </div>

                                <div id="panel-DadosBasicos" class="accordion-collapse collapse hide" aria-labelledby="DadosBasicos">
                                    <div class="accordion-body">
                                        <div class="row justify-content-start">
                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Número de Protocolo</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.numProtocolo}}</div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Tipo de Manifestação</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.tipoManifestacao}}</div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Situação</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.situacao}}</div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <span class="fw-bold">Assunto</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.assunto}}</div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <span class="fw-bold">Órgão Atual</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.orgaoAtual?.siglaOrgao}} - {{dadosBasicos.orgaoAtual?.nomeFantasia}}</div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <span class="fw-bold">Órgão Destinatário</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.orgaoDestinatario?.siglaOrgao}} - {{dadosBasicos.orgaoDestinatario?.nomeFantasia}}</div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Data de Cadastro</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.dataRegistro}}</div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Prazo de Atendimento</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.prazoResposta}}</div>
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <span class="fw-bold">Registrado Por</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.usuarioCadastrador}}</div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Canal de Entrada</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.canalEntrada}}</div>
                                            </div>

                                            <div class="col-md-2 mb-3">
                                                <span class="fw-bold">Modo de Resposta</span>
                                                <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.modoResposta}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Demais Dados da Manifestação-->
                            <div class="accordion-item">
                                <div class="d-flex">
                                    <div class="align-self-center accordion-header-manifestacao">
                                        <i class="py-3 px-3 check-document far fa-square incluir" id="DemaisDados" v-on:click="IncluirDocumento($event)"></i>
                                    </div>
                                    <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                         data-bs-toggle="collapse"
                                         data-bs-target="#panel-demaisDados"
                                         aria-expanded="false"
                                         aria-controls="panel-demaisDados">
                                        Demais Dados da Manifestação
                                    </div>
                                </div>

                                <div id="panel-demaisDados" class="accordion-collapse collapse hide" aria-labelledby="demaisDados">
                                    <div class="accordion p-3" id="accordionPanelsDemaisDados">

                                        <!--Teor da Manifestação-->
                                        <div class="accordion-item">
                                            <div class="d-flex">
                                                <div class="align-self-center accordion-header-manifestacao">
                                                    <i class="py-3 px-3 check-document far fa-square incluir" id="DadosTeor" v-on:click="IncluirDocumento($event)"></i>
                                                </div>
                                                <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                     data-bs-toggle="collapse"
                                                     data-bs-target="#panel-Teor"
                                                     aria-expanded="false"
                                                     aria-controls="panel-Teor">
                                                    Teor da Manifestação
                                                </div>
                                            </div>

                                            <div id="panel-Teor" class="accordion-collapse collapse hide" aria-labelledby="Teor">
                                                <div class="accordion-body">
                                                    <div class="row justify-content-start">
                                                        <div class="col-md-4 mb-3">
                                                            <span class="fw-bold">Município do local do fato</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{teorManifestacao.localFato}}</div>
                                                        </div>
                                                        <div class="col-md-12 mb-3">
                                                            <span class="fw-bold">Texto da Manifestação</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{teorManifestacao.textoManifestacao}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Dados do Manifestante-->
                                        <div class="accordion-item">
                                            <div class="d-flex">
                                                <div class="align-self-center accordion-header-manifestacao">
                                                    <i class="py-3 px-3 check-document far fa-square incluir" id="DadosManifestante" v-on:click="IncluirDocumento($event)"></i>
                                                </div>
                                                <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                     data-bs-toggle="collapse"
                                                     data-bs-target="#panel-DadosManifestante"
                                                     aria-expanded="false"
                                                     aria-controls="panel-DadosManifestante">
                                                    Dados do Manifestante
                                                </div>
                                            </div>

                                            <div id="panel-DadosManifestante" class="accordion-collapse collapse hide" aria-labelledby="DadosManifestante">
                                                <div class="accordion-body">
                                                    <div class="row justify-content-start">
                                                        <div class="col-md-6 mb-3">
                                                            <span class="fw-bold">Nome</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.nome}}</div>
                                                        </div>
                                                        <div v-if="dadosManifestante.cpf" class="col-md-2 mb-3">
                                                            <span class="fw-bold">CPF</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.cpf}}</div>
                                                        </div>
                                                        <div v-if="dadosManifestante.cnpj" class="col-md-4 mb-3">
                                                            <span class="fw-bold">CNPJ</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.cnpj}}</div>
                                                        </div>
                                                        <div class="col-md-2 mb-3">
                                                            <span class="fw-bold">Gênero</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.genero}}</div>
                                                        </div>
                                                        <div v-if="dadosBasicos.tipoManifestante" class="col-md-2 mb-3">
                                                            <span class="fw-bold">Tipo de Manifestante</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosBasicos.tipoManifestante}}</div>
                                                        </div>
                                                        <div class="col-md-2 mb-3">
                                                            <span class="fw-bold">Telefone</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.telefone}}</div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <span class="fw-bold">E-mail</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.email}}</div>
                                                        </div>
                                                        <div v-if="dadosManifestante.orgaoEmpresa" class="col-md-4 mb-3">
                                                            <span class="fw-bold">Órgão/Empresa</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.orgaoEmpresa}}</div>
                                                        </div>
                                                        <div v-if="dadosManifestante.cep" class="col-md-2 mb-3">
                                                            <span class="fw-bold">CEP</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.cep}}</div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <span class="fw-bold">Logradouro</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.logradouro}}</div>
                                                        </div>
                                                        <div class="col-md-1 mb-3">
                                                            <span class="fw-bold">Número</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.numero}}</div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <span class="fw-bold">Bairro</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.bairro}}</div>
                                                        </div>

                                                        <div class="col-md-3 mb-3">
                                                            <span class="fw-bold">Municipio</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.municipio}}</div>
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <span class="fw-bold">UF</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.uf}}</div>
                                                        </div>

                                                        <div v-if="dadosManifestante.complemento" class="col-md-4 mb-3">
                                                            <span class="fw-bold">Complemento</span>
                                                            <div class="border p-1 manifestacao-conteudo">{{dadosManifestante.complemento}}</div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Análise-->
                                        <div class="accordion-item">
                                            <div class="d-flex">
                                                <div class="align-self-center accordion-header-manifestacao">
                                                    <i class="py-3 px-3 check-document far fa-square incluir" id="DadosAnalise" v-on:click="IncluirDocumento($event)"></i>
                                                </div>
                                                <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                     data-bs-toggle="collapse"
                                                     data-bs-target="#panel-DadosAnalise"
                                                     aria-expanded="false"
                                                     aria-controls="panel-DadosAnalise">
                                                    Dados da Análise
                                                </div>
                                            </div>
                                            <div id="panel-DadosAnalise" class="accordion-collapse collapse hide" aria-labelledby="DadosAnalise">
                                                <div class="accordion p-3" id="accordionPanelsDadosAnalise">

                                                    <!--Complementos-->
                                                    <div v-if="complementoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosComplemento" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosComplemento"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosComplemento">
                                                                Complementos da Manifestação
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosComplemento" class="accordion-collapse collapse hide" aria-labelledby="DadosComplemento">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in complementoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data Complemento</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dtComplementoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3">
                                                                            <span class="fw-bold">Usuário Leitura</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.usuarioLeitura?.pessoa?.nome}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data Leitura</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dtLeituraFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto Complemento</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtComplemento}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (complementoManifestacao.length-1)"/>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Prorrogação-->
                                                    <div v-if="prorrogacaoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosProrrogacao" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosProrrogacao"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosProrrogacao">
                                                                Prorrogação
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosProrrogacao" class="accordion-collapse collapse hide" aria-labelledby="DadosProrrogacao">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in prorrogacaoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Prazo Original</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.prazoOriginalFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Novo Prazo</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.novoPrazoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Orgão</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.orgao?.siglaOrgao}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data da Prorrogação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataProrrogacaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Justificativa</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtJustificativaProrrogacao}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (prorrogacaoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Diligências-->
                                                    <div v-if="diligenciaManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosDiligencia" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosDiligencia"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosDiligencia">
                                                                Diligências
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosDiligencia" class="accordion-collapse collapse hide" aria-labelledby="DadosDiligencia">
                                                            <div class="accordion-body">

                                                                <div class="accordion-body">
                                                                    <div class="row justify-content-start">
                                                                        <template v-for="(dados, index) in diligenciaManifestacao" :key="index">
                                                                            <div class="col-md-3 mb-3">
                                                                                <span class="fw-bold">Órgão</span>
                                                                                <div class="border p-1 manifestacao-conteudo">{{dados.orgao?.siglaOrgao}}</div>
                                                                            </div>
                                                                            <div class="col-md-3 mb-3">
                                                                                <span class="fw-bold">Data Diligência</span>
                                                                                <div class="border p-1 manifestacao-conteudo">{{dados.dataDiligenciaFormat}}</div>
                                                                            </div>
                                                                            <div class="col-md-3 mb-3">
                                                                                <span class="fw-bold">Data Resposta</span>
                                                                                <div class="border p-1 manifestacao-conteudo">{{dados.dataRespostaDiligenciaFormat}}</div>
                                                                            </div>
                                                                            <div class="col-md-12 mb-3">
                                                                                <span class="fw-bold">Diligência</span>
                                                                                <div class="border p-1 manifestacao-conteudo">{{dados.txtDiligencia}}</div>
                                                                            </div>

                                                                            <div class="col-md-12 mb-3">
                                                                                <span class="fw-bold">Resposta</span>
                                                                                <div class="border p-1 manifestacao-conteudo">{{dados.txtRespostaDiligencia}}</div>
                                                                            </div>
                                                                            <hr v-if="index < (diligenciaManifestacao.length-1)" />
                                                                        </template>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Encaminhamento-->
                                                    <div v-if="encaminhamentoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosEncaminhamento" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosEncaminhamento"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosEncaminhamento">
                                                                Encaminhamento
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosEncaminhamento" class="accordion-collapse collapse hide" aria-labelledby="DadosEncaminhamento">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in encaminhamentoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataEncaminhamentoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3">
                                                                            <span class="fw-bold">Órgão Origem</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.orgaoOrigem?.siglaOrgao}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Órgão Destino</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.orgaoDestino?.siglaOrgao}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Encaminhamento</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtEncaminhamento}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (encaminhamentoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Resposta-->
                                                    <div v-if="respostaManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosResposta" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosResposta"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosResposta">
                                                                Resposta da Manifestação
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosResposta" class="accordion-collapse collapse hide" aria-labelledby="DadosResposta">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in respostaManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data da Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataRespostaFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-3">
                                                                            <span class="fw-bold">Órgão</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.orgao?.siglaOrgao}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtResposta}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (respostaManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Apuração-->
                                                    <div v-if="apuracaoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosApuracao" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosApuracao"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosApuracao">
                                                                Apuração
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosApuracao" class="accordion-collapse collapse hide" aria-labelledby="DadosApuracao">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in apuracaoManifestacao" :key="index">
                                                                        <div class="col-md-2 mb-3">
                                                                            <span class="fw-bold">Data Solicitação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataSolicitacaoApuracaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-2 mb-3">
                                                                            <span class="fw-bold">Data Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataRespostaApuracaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto Solicitação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtSolicitacaoApuracao}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtRespostaApuracao}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (apuracaoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Despacho-->
                                                    <div v-if="despachoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosDespacho" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosDespacho"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosDespacho">
                                                                Despacho
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosDespacho" class="accordion-collapse collapse hide" aria-labelledby="DadosDespacho">
                                                            <div class="accordion-body">

                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in despachoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Protocolo Edocs</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.protocoloEdocs}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data Despacho</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataSolicitacaoDespachoFormat}}</div>
                                                                        </div>
                                                                        <div v-if="dados.agenteDestinatarioFormat" class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Destinatário</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.agenteDestinatarioFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Situação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataRespostaDespachoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto do Despacho</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.textoSolicitacaoDespacho}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (despachoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Notificações-->
                                                    <div v-if="notificacaoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosNotificacao" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosNotificacao"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosNotificacao">
                                                                Notificações
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosNotificacao" class="accordion-collapse collapse hide" aria-labelledby="DadosNotificacao">
                                                            <div class="accordion-body">

                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in notificacaoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataNotificacaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Notificação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtNotificacao}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (notificacaoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Anotações-->
                                                    <div v-if="anotacaoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosAnotacao" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosAnotacao"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosAnotacao">
                                                                Anotações
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosAnotacao" class="accordion-collapse collapse hide" aria-labelledby="DadosAnotacao">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in anotacaoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataAnotacaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Anotação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtAnotacao}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (anotacaoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Dados Interpelação-->
                                                    <div v-if="interpelacaoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosInterpelacao" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosInterpelacao"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosInterpelacao">
                                                                Interpelação
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosInterpelacao" class="accordion-collapse collapse hide" aria-labelledby="DadosInterpelacao">
                                                            <div class="accordion-body">

                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in interpelacaoManifestacao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataInterpelacaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto Interpelação</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtInterpelacao}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Orgão Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.orgaoResposta?.siglaOrgao}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataRespostaInterpelacaoFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto Resposta</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtRespostaInterpelacao}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (interpelacaoManifestacao.length-1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Reclamação de Omissão-->
                                                    <div v-if="reclamacaoOmissao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosReclamacaoOmissao" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosReclamacaoOmissao"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosReclamacaoOmissao">
                                                                Reclamação de Omissão
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosReclamacaoOmissao" class="accordion-collapse collapse hide" aria-labelledby="DadosReclamacaoOmissao">
                                                            <div class="accordion-body">
                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in reclamacaoOmissao" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Protocolo</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.manifestacaoFilha?.numProtocolo}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Data do Reclamação de Omissão</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataReclamacaoOmissaoFormat}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (reclamacaoOmissao.length-1)" />
                                                                    </template>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Dados Recurso Negativa-->
                                                    <div v-if="recursoNegativa.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosRecursoNegativa" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosRecursoNegativa"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosRecursoNegativa">
                                                                Recurso de Negativa
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosRecursoNegativa" class="accordion-collapse collapse hide" aria-labelledby="DadosRecursoNegativa">
                                                            <div class="accordion-body">

                                                                <div class="row justify-content-start">
                                                                    <template v-for="(dados, index) in recursoNegativa" :key="index">
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Número Recurso</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.numeroRecurso}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data Recurso</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataRecursoNegativaFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Texto Recurso</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtRecursoNegativa}}</div>
                                                                        </div>
                                                                        <div class="col-md-3 mb-3">
                                                                            <span class="fw-bold">Data Resposta Recurso</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.dataRespostaRecursoNegativaFormat}}</div>
                                                                        </div>
                                                                        <div class="col-md-12 mb-3">
                                                                            <span class="fw-bold">Texto Resposta Recurso</span>
                                                                            <div class="border p-1 manifestacao-conteudo">{{dados.txtRespostaRecursoNegativa}}</div>
                                                                        </div>
                                                                        <hr v-if="index < (recursoNegativa.length -1)" />
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Desdobramentos-->
                                                    <div v-if="desdobramentoManifestacao.length > 0" class="accordion-item">
                                                        <div class="d-flex">
                                                            <div class="align-self-center accordion-header-manifestacao">
                                                                <i class="py-3 px-3 check-document far fa-square incluir" id="DadosDesdobramento" v-on:click="IncluirDocumento($event)"></i>
                                                            </div>
                                                            <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#panel-DadosDesdobramento"
                                                                 aria-expanded="false"
                                                                 aria-controls="panel-DadosDesdobramento">
                                                                Desdobramentos
                                                            </div>
                                                        </div>
                                                        <div id="panel-DadosDesdobramento" class="accordion-collapse collapse hide" aria-labelledby="DadosDesdobramento">
                                                            <div class="accordion-body">
                                                                <table class="table table-striped table-bordered table-sm">
                                                                    <thead class="table-light">
                                                                        <tr>
                                                                            <th scope="col">Manifestação Filha</th>
                                                                            <th scope="col">Órgão</th>
                                                                            <th scope="col">Data do Desdobramento</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="(dados, index) in desdobramentoManifestacao" :key="index">
                                                                            <td>{{dados.manifestacaoFilha?.numProtocolo}}</td>
                                                                            <td>{{dados.orgao?.siglaOrgao}}</td>
                                                                            <td>{{dados.dataDesdobramentoFormat}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Dados Anexos-->
                                                    <!--<div v-if="anexoManifestacao.length > 0" class="accordion-item">
                                                        <h2 class="px-2 accordion-header d-flex accordion-button collapsed" id="DadosAnexo">
                                                            <i class="me-3 check-document far fa-square incluir" v-on:click="IncluirDocumento($event)"></i>
                                                            <button class="flex-fill accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="#panel-DadosAnexo" aria-expanded="true" aria-controls="panel-DadosAnexo">
                                                                Anexos
                                                            </button>
                                                        </h2>
                                                        <div id="panel-DadosAnexo" class="accordion-collapse collapse hide" aria-labelledby="DadosAnexo">
                                                            <div class="accordion-body">
                                                                <table class="table table-striped table-bordered table-sm">
                                                                    <thead class="table-light">
                                                                        <tr>
                                                                            <th scope="col">Data</th>
                                                                            <th scope="col">Notificação</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="(dados, index) in anexoManifestacao" :key="index">
                                                                            <td>{{dados.dtComplemento}}</td>
                                                                            <td>{{dados.txtComplemento}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>-->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Histórico da Manifestação-->
                        <div class="accordion-item">
                            <div class="d-flex">
                                <div class="align-self-center accordion-header-manifestacao">
                                    <i class="py-3 px-3 check-document far fa-square incluir" id="DadosHistorico" v-on:click="IncluirDocumento($event)"></i>
                                </div>
                                <div class="h5 ps-1 cursor-pointer g-col-11 accordion-header-manifestacao accordion-header d-flex accordion-button collapsed"
                                     data-bs-toggle="collapse"
                                     data-bs-target="#panel-DadosHistorico"
                                     aria-expanded="false"
                                     aria-controls="panel-DadosHistorico">
                                    Histórico da Manifestação
                                </div>
                            </div>
                            <div id="panel-DadosHistorico" class="accordion-collapse collapse hide" aria-labelledby="DadosHistorico">
                                <div class="accordion-body">

                                    <table class="table table-sm">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Data/Hora</th>
                                                <th scope="col">Órgão</th>
                                                <th scope="col">Situação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(dados, index) in historicoManifestacao" :key="index">
                                                <td>{{dados.dataHistoricoFormat}}</td>
                                                <td>{{dados.orgao?.siglaOrgao}}</td>
                                                <td>{{dados.situacaoManifestacao.descSituacaoManifestacao}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
                </template>
            </div>
            </div>
        </section>

    </script>

    <script type="text/html" id="template-despacho-form">
        <div>
            <form ref="form">

                <despacho-manifestacao v-on:capturar-dados-manifestacao="CapturarDadosManifestacao" v-on:selecionar-dado-manifestacao="ToggleDadosManifestacaoSelecionados($event)"></despacho-manifestacao>
                <section class="mb-4">
                    <div class="card">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Formulário de Despacho</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div v-if="loading" class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <template v-else>
                                    <div class="col-md-12 position-relative mb-4">
                                        <label class="form-label" for="customAnexo">Com qual Cargo/Função você irá Encaminhar?</label>
                                        <div class="form-check px-0" v-for="(papel, index) in papeisUsuario" v-bind:key="index" v-bind:for="papel.id">
                                            <input type="radio" v-on:change="TogglePapelSelecionado($event)" required class="btn-check" name="papel" v-bind:id="papel.id" autocomplete="off">
                                            <label class="btn btn-outline-primary btn-sm m-1" v-bind:for="papel.id">{{papel.nome}} - {{papel.siglaUnidadePapel}} - {{papel.siglaOrganizacaoPapel}}</label>
                                            <div v-if="index == (papeisUsuario.length-1)" class="invalid-feedback mt-1">Cargo/Função é obrigatório!</div>
                                        </div>
                                    </div>
                                </template>

                                <div class="col-md-6 position-relative mb-2">
                                    <label class="form-label">Selecione o Destinatário:</label>
                                    <selecao-destinatarios v-on:selecionar-destinatario="IncluirDestinatarioSelecionado"></selecao-destinatarios>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="form-label" for="flPrazoResposta">Prazo de Resposta:</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                        <input required v-on:blur="GetDate" v-model="prazoResposta" type="text" id="flPrazoResposta" class="form-control data-eouv mb-0">
                                        <div class="invalid-feedback mt-5">Prazo de resposta é obrigatório!</div>
                                    </div>
                                </div>

                                <div class="col-md-12 position-relative mb-3">
                                    <label class="form-label" for="flTextoDespacho">Texto do Despacho:</label>
                                    <textarea class="form-control" required maxlength="8000" rows="5" placeholder="Informe o texto do despacho aqui." v-model="textoDespacho" id="flTextoDespacho"></textarea>
                                    <div class="invalid-feedback">Texto do despacho é obrigatório!</div>
                                </div>

                                @*<div class="form-outline mb-3">
                                            <button class="btn btn-block btn-info" v-on:click="IncluirCampoAnexo"><i class="fas fa-plus"></i> Incluir novo arquivo</button>
                                            <div class="border-1 mt-3" v-if="campoAnexo.length > 0">
                                                <div class="input-group mb-3" v-for="(campo, index) in campoAnexo" v-bind:key="index">
                                                    <input type="file" class="form-control" id="{{campo}}" aria-describedby="addon-{{campo}}" />
                                                    <span v-on:click="RemoverCampoAnexo(campo)" class="input-group-text border-0 btn btn-danger shadow-0" id="addon-{{campo}}"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    <hr />*@

                                @*<div class="form-outline mb-3">
                                            <button class="btn btn-block btn-info" v-on:click="IncluirCampoAnexo"><i class="fas fa-plus"></i> Incluir novo arquivo</button>
                                            <div class="border-1 mt-3" v-if="campoAnexo.length > 0">
                                                <div class="input-group mb-3" v-for="(campo, index) in campoAnexo" v-bind:key="index">
                                                    <input type="file" class="form-control" id="{{campo}}" aria-describedby="addon-{{campo}}" />
                                                    <span v-on:click="RemoverCampoAnexo(campo)" class="input-group-text border-0 btn btn-danger shadow-0" id="addon-{{campo}}"><i class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    <hr />*@
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" v-on:click="Despachar($event)" class="btn btn-primary m-1 float-end"><i class="fas fa-share"></i> Despachar</button>
                            <a v-bind:href="urlCancelar" class="btn btn-danger m-1 float-end"><i class="fas fa-times"></i> Cancelar</a>
                        </div>
                    </div>
                </section>

            </form>
        </div>
    </script>

    <script type="text/html" id="template-selecao-destinatarios">
        <div class="form-outline">
            @*<button type="button" v-on:click="CarregarDadosEDocs" class="btn btn-outline-info btn-block"><i class="fas fa-search"></i> Destinatário</button>*@

            <div class="input-group mb-3 has-validation">
                <span class="input-group-text" v-on:click="CarregarDadosEDocs"><i class="fas fa-search"></i></span>
                <input required v-if="destinatario != null" onkeydown="return false;" v-model="destinatario.nomecompleto" v-bind:value="destinatario.nomecompleto" v-on:click="CarregarDadosEDocs" type="text" id="" class="form-control mb-0">
                <input required v-if="destinatario == null" onkeydown="return false;" v-on:click="CarregarDadosEDocs" type="text" id="" class="form-control mb-0">
                <div class="invalid-feedback">Destinatário é obrigatório!</div>
            </div>

            @*<div class="row">
                    <div v-if="destinatario != null " class="col-12 mt-2 border-secondary border-1">
                        <span class="badge bg-success text-white m-1">{{destinatario.nome}} <i class="fas fa-times-circle" v-on:click="RemoverDestinatario()"></i></span>
                    </div>
                </div>*@
            <div class="modal fade modal-dialog-scrollable"
                 ref="destinatariosModal"
                 tabindex="-1"
                 aria-labelledby="destinatariosModalLabel"
                 aria-hidden="true"
                 data-mdb-backdrop="static"
                 data-mdb-keyboard="false"
                 modal-dialog-scrollable>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="destinatariosModalLabel">{{titulo}}</h5>
                            <button type="button" class="btn-close" v-on:click="FecharModal"></button>
                        </div>
                        <div class="modal-body" v-ext-loading="loading">

                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active"
                                       id="setor-tab"
                                       data-bs-toggle="tab"
                                       href="#setores"
                                       role="tab"
                                       aria-controls="setores"
                                       aria-selected="false">Setores</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="grupos-tab"
                                       data-bs-toggle="tab"
                                       href="#grupos"
                                       role="tab"
                                       aria-controls="grupos"
                                       aria-selected="false">Grupos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="comissoes-tab"
                                       data-bs-toggle="tab"
                                       href="#comissoes"
                                       role="tab"
                                       aria-controls="comissoes"
                                       aria-selected="false">Comissões</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="agentes-tab"
                                       data-bs-toggle="tab"
                                       href="#agentes"
                                       role="tab"
                                       aria-controls="agentes"
                                       aria-selected="false">Servidores</a>
                                </li>
                            </ul>
                            <!-- Tabs navs -->
                            <!-- Tabs content -->
                            <div class="tab-content" id="ex2-content">
                                <div class="tab-pane fade show active"
                                     id="setores"
                                     role="tabpanel"
                                     aria-labelledby="setores" v-ext-loading="loading-1">

                                    <div class="input-group mb-3">
                                        <input type="text" v-on:keydown="FiltrarSetores" v-model="setorPesquisa" class="form-control" placeholder="Filtrar setores" aria-describedby="btn-pesquisar-setor">
                                        <button v-on:click="FiltrarSetores" class="btn btn-primary" type="button" id="btn-pesquisar-setor"><i class="fas fa-search"></i></button>
                                    </div>

                                    <div v-if="loading" class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>

                                    <template v-else>

                                        <div class="overflow-auto" style="height:400px">
                                            <div class="list-group list-group-flush">
                                                <a v-for="(setor, index) in listaSetores" :key="index" class="list-group-item cursor-pointer text-uppercase" v-on:click="AdicionarDestinatario(setor.id, setor.nome, 4)"><i class="fas fa-puzzle-piece"></i> {{setor.nome}}</a>
                                            </div>
                                        </div>

                                    </template>
                                </div>

                                <div class="tab-pane fade"
                                     id="grupos"
                                     role="tabpanel"
                                     aria-labelledby="grupos" v-ext-loading="loading-2">

                                    <div class="input-group mb-3">
                                        <input type="text" v-on:keydown="FiltrarGrupos" v-model="grupoPesquisa" class="form-control" placeholder="Filtrar grupos" aria-describedby="btn-pesquisar-grupos">
                                        <button v-on:click="FiltrarGrupos" class="btn btn-primary" type="button" id="btn-pesquisar-grupos"><i class="fas fa-search"></i></button>
                                    </div>

                                    <div v-if="loading" class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>

                                    <template v-else>

                                        <div class="overflow-auto" style="height:400px">
                                            <div class="list-group list-group-flush">
                                                <a v-for="(grupo, index) in listaGrupos" :key="index" class="list-group-item cursor-pointer text-uppercase" v-on:click="AdicionarDestinatario(grupo.id, grupo.nome, 3)"><i class="fas fa-users"></i> {{grupo.nome}}</a>
                                            </div>
                                        </div>

                                    </template>

                                </div>

                                <div class="tab-pane fade"
                                     id="comissoes"
                                     role="tabpanel"
                                     aria-labelledby="comissoes" v-ext-loading="loading-3">

                                    <div class="input-group mb-3">
                                        <input type="text" v-on:keydown="FiltrarComissoes" v-model="comissaoPesquisa" class="form-control" placeholder="Filtrar comissões" aria-describedby="btn-pesquisar-comissoes">
                                        <button v-on:click="FiltrarComissoes" class="btn btn-primary" type="button" id="btn-pesquisar-comissoes"><i class="fas fa-search"></i></button>
                                    </div>

                                    <div v-if="loading" class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>

                                    <template v-else>

                                        <div class="overflow-auto" style="height:400px">
                                            <div class="list-group list-group-flush">
                                                <a v-for="(comissao, index) in listaComissoes" :key="index" class="list-group-item cursor-pointer text-uppercase" v-on:click="AdicionarDestinatario(comissao.id, comissao.nome, 3)"><i class="fas fa-users"></i> {{comissao.nome}}</a>
                                            </div>
                                        </div>

                                    </template>
                                </div>
                                <div class="tab-pane fade"
                                     id="agentes"
                                     role="tabpanel"
                                     aria-labelledby="agentes" v-ext-loading="loading-4">

                                    <div class="input-group mb-3">
                                        <input type="text" v-model="agentePesquisa" class="form-control" placeholder="Pesquisar servidor" aria-describedby="btn-pesquisar-agente">
                                        <button v-on:click="GetAgentes" class="btn btn-primary" type="button" id="btn-pesquisar-agente"><i class="fas fa-search"></i></button>
                                    </div>

                                    <div v-if="loading" class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>

                                    <template v-else>

                                        <div class="overflow-auto" style="height:400px">
                                            <div class="list-group list-group-flush">
                                                <a v-for="(agente, index) in listaAgentes" :key="index" class="list-group-item cursor-pointer text-uppercase" v-on:click="AdicionarDestinatario(agente.guid, agente.agentePublicoNome, 2, agente.nome)">
                                                    <i class="fas fa-user"></i> {{agente.agentePublicoNome}} <small>({{agente.nome}})</small>
                                                </a>
                                            </div>
                                        </div>

                                    </template>
                                </div>
                            </div>
                            <!-- Tabs content -->
                            <div class="card mt-2">
                                <div class="card-header">
                                    <span class="fs-6 fw-bold">Selecionados:</span>
                                </div>
                                <div class="card-body">
                                    <div v-if="destinatario != null " class="col-12 mt-2 border-secondary border-1">
                                        <span class="badge bg-success text-white m-1 text-uppercase">{{destinatario.nomecompleto}} <i class="fas fa-times-circle" v-on:click="RemoverDestinatario()"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" v-on:click="FecharModal">
                                <i class="fas fa-times"></i> Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
}