@model IEnumerable<Prodest.EOuv.UI.Apresentacao.RespostaManifestacaoViewModel>

@{
    ViewData["Title"] = "Responder Manifestação";
}

<div class="container-fluid p-0">
    <div class="row">
        <div id="app" class="col-12">
            <section class="mb-4">
                <div class="card">
                    <div class="card-header">
                        Despachos realizados para a Manifestação: @TempData["idManifestacao"]
                    </div>
                    <div class="card-body">
                        <div class="form-outline mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" maxlength="2000" placeholder="Leave a comment here" v-model="textoDespacho" id="flTextoDespacho" style="height: 80px"></textarea>
                                <label for="flTextoDespacho">Texto do Despacho</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
