@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">EOuv</h1>
        <p>Sistema de Ouvidoria do Estado do Espírito Santo</p>
    </div>
</body>
</html>

