<div class="bg-light p-5 rounded mt-3">
    <h1><i class="far fa-sad-tear fa-2x"></i> Ocorreu um erro inexperado!</h1>
    <p class="lead my-5">
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
        else
        {
            <span>Algo de errado aconteceu enquanto processávamos a operação. Se o problema persistir, entre em contato conosco.</span>
        }
    </p>
    <div class="text-right">
        <a class="btn btn-lg btn-outline-primary" href="https://sistema.ouvidoria.es.gov.br/" role="button">« Retornar ao E-Ouv</a>
    </div>
</div>