@{ViewBag.Title = "Erro";}


<div class="alert alert-error">
    <span>
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
        else
        {
            <span>Algo de errado aconteceu enquanto processávamos a operação. Se o problema persistir, entre em contato conosco.</span>
        }
    </span>
</div>
<div>
    <a href="https://sistema.ouvidoria.es.gov.br/">
        Voltar para o E-Ouv
    </a>
</div>

